<% include partials/header.ejs %>

    <h1>
      Admin Data Report  
    </h1>
    <main>
     <div id="adoptionCosts">
       Average: <% avg %>
      </div>
    </main>
  
<% include partials/footer.ejs %>